<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tiago.AnotaIntervalos"
      android:versionCode="1"
      android:versionName="0.8">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AnotaIntervalos"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditarAnotacao"></activity>
        <activity android:name=".ListarPartidas" android:theme="@style/TemaListaPartidas"></activity>
        <activity android:name=".EditarPartida"></activity>
    </application>
</manifest>